<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Stay With Me</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Accommodation Page Custom CSS -->
    <link th:href="@{/css/seller/seller.css}" rel="stylesheet">
    <link th:href="@{/css/adminPage/accommodation/accommodation.css}" rel="stylesheet">

    <!-- Additional Head Content -->
    <div th:replace="~{fragments/admin/head.html :: head}"></div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Accommodation Tags Script -->
    <script th:src="@{/js/adminPage/accommodation/accommodationTags.js}"></script>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sidebar Start -->
    <div th:replace="~{fragments/admin/sideBar.html :: side}"></div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- 상단 내비게이션 바 Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a th:href="@{/seller-main.do}" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <div class="navbar-nav ms-auto d-flex align-items-center">
                <span class="navbar-text me-3" th:text="${userId}">관리자</span>
                <a th:href="@{/logout}" class="btn btn-outline-primary">로그아웃</a>
            </div>
        </nav>
        <!-- 상단 내비게이션 바 End -->

        <!-- Sale & Revenue Start -->
        <div class="container">
            <form id="accommodationForm" th:action="@{/accommodation-update}" method="POST">
                <!-- 숙소 정보 입력 -->
                <div class="row">
                    <label for="name">숙소 이름</label>
                    <input type="text" id="name" th:value="${list.accommodationName}">
                </div>
                <div class="row">
                    <label for="phone">핸드폰 번호</label>
                    <input type="text" id="phone" th:value="${list.accommodationPhone}">
                </div>

                <!-- 숙소 종류 선택 -->
                <div class="accommodation-type">
                    <input type="hidden" id="selectedAccommodationType" th:value="${list.accommodationType}">
                    <label style="font-size: 1.5em">숙소 종류</label>
                    <div class="accommodation-options">
                        <div class="option-item">
                            <input type="radio" id="hotel" class="accommodationType" value="호텔">
                            <label for="hotel">호텔</label>
                        </div>
                        <div class="option-item">
                            <input type="radio" id="resort" class="accommodationType" value="리조트">
                            <label for="resort">리조트</label>
                        </div>
                        <div class="option-item">
                            <input type="radio" id="pension" class="accommodationType" value="펜션">
                            <label for="pension">펜션</label>
                        </div>
                    </div>
                </div>

                <!-- 부대시설 입력 -->
                <div class="row">
                    <label for="sub-facility">부대시설 * 이외 시설은 직접 기입 부탁드립니다.</label>
                    <input type="text" id="sub-facility" th:value="${#strings.arrayJoin(facilities.toArray(), ', ')}">
                </div>
                <div class="row">
                    <label>부대시설 태그 (중복 선택 가능)</label>
                    <div class="tags"></div> <!-- Tags will be dynamically generated by JavaScript -->
                </div>

                <!-- 객실 소개 에디터 -->
                <div class="editor-container">
                    <span style="align-items: center; font-size: 30px; font-weight: bold">객실 소개</span><br>
                    <b>필수 기입형식</b><br>
                    <span>* 숙소 소개</span><br>
                    <span>* 객실 정보</span><br>
                    <span>* 입/퇴실 시간</span><br>
                    <span>* 부대시설 소개</span><br>

                    <table class="editor-table" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                        <tr>
                            <td style="padding: 10px; border: 1px solid #ddd; vertical-align: top;">
                                <!-- Toolbar -->
                                <div class="editor-toolbar">
                                    <button type="button" class="toolbar-btn" data-command="bold"><i class="fa fa-bold"></i></button>
                                    <button type="button" class="toolbar-btn" data-command="italic"><i class="fa fa-italic"></i></button>
                                    <button type="button" class="toolbar-btn" data-command="justifyLeft"><i class="fa fa-align-left"></i></button>
                                    <button type="button" class="toolbar-btn" data-command="justifyCenter"><i class="fa fa-align-center"></i></button>
                                    <button type="button" class="toolbar-btn" data-command="insertUnorderedList"><i class="fa fa-list-ul"></i></button>
                                    <button type="button" class="toolbar-btn" data-command="insertOrderedList"><i class="fa fa-list-ol"></i></button>
                                    <select id="fontSize" class="toolbar-select">
                                        <option value="3">10px</option>
                                        <option value="4">12px</option>
                                        <option value="5">16px</option>
                                        <option value="6">20px</option>
                                        <option value="7">30px</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px; border: 1px solid #ddd; vertical-align: top;">
                                <!-- Content Editable Area -->
                                <div th:name="accommodationInfo" id="editor" contenteditable="true" class="editor-content" th:utext="${list.accommodationInfo}" style="height: 500px;"></div>
                            </td>
                        </tr>
                    </table>
                </div>


                <!-- 객실 정보 -->
                <div class="container roomContainer">
                    <h1>객실</h1>
                    <div id="all" class="event-list" th:each="room, iterStat : ${rooms}" style="border: 2px solid #BDBDBD; padding: 10px; margin-bottom: 10px; border-radius: 20px">

                        <!-- 객실 번호와 객실 이름을 한 줄로 표현 -->
                        <div class="row mb-3">
                            <label for="roomName" class="col-sm-2 col-form-label">객실 번호</label>
                            <div class="col-sm-2">
                                <p class="form-control-plaintext" th:text="${room.roomNo}">ROOM_NO</p>
                            </div>
                            <label for="roomName" class="col-sm-2 col-form-label">객실 이름</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="roomName" name="roomName" th:value="${room.roomName}" required>
                            </div>
                        </div>

                        <!-- 요금 정보 테이블 -->
                        <table class="table table-bordered text-center">
                            <thead>
                            <tr>
                                <th>요금타입</th>
                                <th>주중</th>
                                <th>금요일</th>
                                <th>토요일</th>
                                <th>일요일</th>
                            </tr>
                            </thead>
                            <tbody id="rateTableBody-[[${iterStat.index}]]">
                            <tr>
                                <td>기본금액</td>
                                <td>
                                    <input type="text" class="form-control" name="weekdayRate"
                                           th:value="${room.weekdayRate}" required>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="fridayRate"
                                           th:value="${room.fridayRate}" required>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="saturdayRate"
                                           th:value="${room.saturdayRate}" required>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="sundayRate"
                                           th:value="${room.sundayRate}" required>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- 체크인/체크아웃 시간 입력 필드 추가 -->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">체크인 시간</label>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" id="checkInTime-[[${iterStat.index}]]" th:value="${room.roomCheckIn}" required step="1800">
                            </div>
                            <label class="col-sm-2 col-form-label">체크아웃 시간</label>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" name="checkOutTime-[[${iterStat.index}]]" id="checkOutTime-[[${iterStat.index}]]" th:value="${room.roomCheckOut}" required step="1800">
                            </div>
                        </div>

                        <!-- 인원 정보 -->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">기준인원</label>
                            <div class="col-sm-10 d-flex align-items-center">
                                <div class="btn btn-secondary decrement" data-room-id="[[${iterStat.index}]]" data-type="basic">-</div>
                                <input type="text" class="form-control text-center mx-2 maxPeople" name="standardOccupation" id="basicPeople-[[${iterStat.index}]]" th:value="${room.roomPersonnel}" readonly>
                                <div class="btn btn-secondary increment" data-room-id="[[${iterStat.index}]]" data-type="basic">+</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">최대인원</label>
                            <div class="col-sm-10 d-flex align-items-center">
                                <div class="btn btn-secondary decrement" data-room-id="[[${iterStat.index}]]" data-type="max">-</div>
                                <input type="text" class="form-control text-center mx-2 maxPeople" name="maxOccupation" id="maxPeople-[[${iterStat.index}]]" th:value="${room.roomMaxPersonnel}" readonly>
                                <div class="btn btn-secondary increment" data-room-id="[[${iterStat.index}]]" data-type="max">+</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 객실 정보 끝 -->

                <!-- 수정 버튼 -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="width: 300px;">수정</button>
                </div>
            </form>
        </div>
        <!-- Content End -->

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a></br>
                        Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>

    <!-- JavaScript Libraries -->
    <script type="text/javascript" src="/smarteditor/js/editor.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/adminPage/accommodation/accommodationUpdate.js}"></script>
    <script th:src="@{/js/adminPage/accommodation/accommodation.js}"></script>
</div>
</body>
</html>
